/*Fonts*/
@font-face {
	font-family: "Ink Free";
	src: url("InkFree.ttf") format("truetype");
}
@font-face {
	font-family: "Mont DEMO";
	src: url("Mont-HeavyDEMO.otf") format("opentype");
	font-weight: bold;
}
/*Animations*/
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes rotate {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(20deg); }
  100% { transform: rotate(0deg); }
}
/*Body*/
body {
  margin: 0;
  animation: fadein 2s;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 1em;
}
a {
  text-decoration: none;
  color: inherit;
}
/*Navigation Bar*/
#nav-bar > .container {
	display: flex;
	flex-direction: row;
  justify-content: center;
	padding: 1em 0;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 2;
}
#logo {
	display: flex;
	flex-direction: row;
  cursor: pointer;
  margin-top: 1em;
  margin-right: 15em;
}
#pages {
	display: flex;
	flex-direction: row;
  padding-left: 15em;
}
#logo-image {
	width: 2.5em;
}
#logo:hover #logo-image {
  animation: rotate 0.5s;
}
#logo:hover #logo-text {
  transition-duration: 0.2s;
  border-bottom: 0.3em dotted #F9C4B8;
}
#logo-text {
	font-family: "Ink Free";
	font-size: 2em;
}
.page {
  margin: 0 1em;
  padding: 1.5em 1.5em;
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	font-size: 1em;
  cursor: pointer;
}
#pages-work {
  background: url("../images/pink-circle.svg") no-repeat center;
  background-size: 3.8em;
}
#pages-work:hover {
  color: white;
}
.page:hover {
  transition-duration: 0.3s;
  color: #F9C4B8;
}
/*Body*/
body {
  margin: 0;
  animation: fadein 2s;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 1em;
}
a {
  text-decoration: none;
  color: inherit;
}
#mochi > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #B2DFE1;
}
#mochi > .container > #content {
  padding: 10em 4em 4em 4em;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background-color: white;
}
.title {
  font-family: "Mont DEMO";
}
#header .title {
  font-size: 3em;
  line-height: 0.1em;
}
#header .title > #colored {
  color: #FFDB55;
}
#header .category, .time {
  line-height: 1em;
  letter-spacing: 0.05em;
}
.category {
  font-style: italic;
}
.desc {
  font-size: 1.1em;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 0.05em;
}
#my-role .container {
  display: flex;
  flex-direction: column;
  align-items: left;
}
/*Footer*/
#footer {
  letter-spacing: 0.05em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.5em;
}
#footer-social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.item {
  margin: 1em 3em 0 3em;
  cursor: pointer;
}
.item:hover {
  transition-duration: 0.3s;
  color: #F9C4B8;
}
#copyright {
  font-size: 0.8em;
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
}
