/*Fonts*/
@font-face {
	font-family: "Ink Free";
	src: url("InkFree.ttf") format("truetype");
}
@font-face {
	font-family: "Mont DEMO";
	src: url("Mont-HeavyDEMO.otf") format("opentype");
	font-weight: bold;
}
/*Animations*/
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes fadeout {
  0 { opacity: 1; }
  100% { opacity: 0.5; }
}
@keyframes rotate {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(20deg); }
  100% { transform: rotate(0deg); }
}
/*Body*/
body {
  margin: 0;
  animation: fadein 2s;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 1em;
}
a {
  text-decoration: none;
  color: inherit;
}
/*Navigation Bar*/
#nav-bar > .container {
	display: flex;
	flex-direction: row;
  justify-content: center;
	padding: 1em 0;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 2;
}
#logo {
	display: flex;
	flex-direction: row;
  cursor: pointer;
  margin-top: 1em;
  margin-right: 15em;
}
#pages {
	display: flex;
	flex-direction: row;
  padding-left: 15em;
}
#logo-image {
	width: 2.5em;
}
#logo:hover #logo-image {
  animation: rotate 0.5s;
}
#logo:hover #logo-text {
  transition-duration: 0.2s;
  border-bottom: 0.3em dotted #F9C4B8;
}
#logo-text {
	font-family: "Ink Free";
	font-size: 2em;
}
.page {
  margin: 0 1em;
  padding: 1.5em 1.5em;
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	font-size: 1em;
  cursor: pointer;
}
#pages-work {
  background: url("../images/pink-circle.svg") no-repeat center;
  background-size: 3.8em;
}
#pages-work:hover {
  color: white;
}
.page:hover {
  transition-duration: 0.3s;
  color: #F9C4B8;
}
/*Body*/
body {
  margin: 0;
  animation: fadein 2s;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 1em;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 40em;
  height: auto;
}
section {
  padding-top: 2em;
}
section.not(#header):hover {
  border-bottom: 0.01em solid black;
}
#footer, #mochi {
  padding-bottom: initial;
  margin: initial;
  border: initial;
}
#fastercon-c {
  color: #2DBAA8;
}
#pasae-c {
  color: #E7A22F;
}
#azl-c {
  color: #51D8D1;
}
#tmc-c {
  color: #74130B;
}
#mochi-c {
  color: #005E39;
}
#work > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #B2DFE1;
}
#work > .container > #content {
  padding: 10em 2em 4em 2em;
  background-color: white;
}
.title {
  font-family: "Mont DEMO";
  font-size: 2.5em;
  line-height: 0.1em;
}
.title:hover, img:hover{
  animation: fadeout 0.5s;
  animation-fill-mode: forwards;
}
#header .title {
  all: initial;
}
#header .title {
  font-family: "Mont DEMO";
  font-size: 6em;
  line-height: 0.1em;
  color: #F38971;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.5em;
}
.title, .desc, .category {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.category {
  font-style: italic;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.05em;
}
.desc {
  font-size: 1.1em;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 0.05em;
  max-width: 36em;
}
/*Footer*/
#footer {
  letter-spacing: 0.05em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.5em;
}
#footer-social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.item {
  margin: 1em 3em 0 3em;
  cursor: pointer;
}
.item:hover {
  transition-duration: 0.3s;
  color: #F9C4B8;
}
#copyright {
  font-size: 0.8em;
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
}
